\.*
build
pubspec.lock
analysis_options.yaml
pubspec_overrides.yaml
**/android/local.properties
/starter/android/app/src/main/kotlin
/starter/ios/Flutter
starter/ios/Runner.xcodeproj/project.pbxproj
/node_modules
starter/node_modules
starter/package-lock.json

# FVM Version Cache
.fvm/
 
# Allow GitHub workflows (override ".*" ignore rule)
!.github/
!.github/**