<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561561408150-vut66gqnnkejlr7ujfsdulmvd4a2bm4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561561408150-vut66gqnnkejlr7ujfsdulmvd4a2bm4h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>561561408150-oebnkm7naupol0ktvqcekmqk5qso0pjh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDy7M3RHIh1HrlBWXSvC8fNmmojh5hxFK8</string>
	<key>GCM_SENDER_ID</key>
	<string>561561408150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hemish.ensemble.deployment</string>
	<key>PROJECT_ID</key>
	<string>testing-f258f</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-f258f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561561408150:ios:1f7db14b94e7f3213628b7</string>
</dict>
</plist>