name: ensemble_camera
description: A new Flutter package project.
version: 0.0.1
homepage: https://github.com/EnsembleUI/ensemble/modules/camera

environment:
  sdk: ">=3.5.0"
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.11.0+2
  face_camera: ^0.1.4
  # embed Ensemble as a sibling project
  ensemble:
    git:
      url: https://github.com/EnsembleUI/ensemble.git
      ref: ensemble-v1.2.21
      path: modules/ensemble
  ensemble_ts_interpreter: ^1.0.3

  # QR Code scanner module (for backward compatibility re-export)
  ensemble_qr_scanner:
    git:
      url: https://github.com/EnsembleUI/ensemble.git
      ref: ensemble-v1.2.21
      path: modules/qr_scanner

  collection: ^1.17.1
  geolocator: ^9.0.2
  image_picker: ^0.8.7+5
  sensors_plus: ^7.0.0
  video_player: ^2.6.1
  path_provider: ^2.1.5
  share_plus: ^12.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages

  assets:
    - web/face_api.js
    - web/face_detection.js
    - web/image_worker.js
