name: Execute Tests on PR
on:
  push:
  pull_request:
    branches: [main]

jobs:
  runUnitTest:
    name: Execute Unit/Widget tests

    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.3"

      - name: Install Melos
        run: dart pub global activate melos

      # - name: Lint
      #   run: melos exec -- "dart format --output=none --set-exit-if-changed ."

      - name: Pub Upgrade
        run: melos bootstrap

#      - name: Run Unit Tests / Widget Tests
#        run: melos exec -- "flutter test"
